<h3>Bienvenidos A nuestra Tienda</h3>
{{#each docs}}
    <div>
        <h4>{{title}}</h4>
        <img src="https://images.pexels.com/photos/16297410/pexels-photo-16297410/free-photo-of-comida-plato-ensalada-cena.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  alt="foto producto" width="100">
        <p>{{description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Imagen: {{this.thumbnails}}</p>
        <p>Status: {{this.status}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
    </div>
{{/each}}
