<div>
    
        Mostrando el producto {{ products.title }}... <br>
        
        <h2>{{products.title}}</h2> <br>
       
        <img src="{{products.photo}}" alt="" width="100"> <br>
        Description: {{products.description}}<br>
        Price: {{products.price}} <br>
        Stock: {{products.stock}} <br>
        Code: {{products.code}} <br>

     
</div>