<link rel="stylesheet" href="../public/css/productsStyles.css">
<h3 class="container text-center">Productos</h3>
<h4>Bienvenido{{user.email}} </h4>
<div class="filters">
    <div class="container text-center ">
        <a class="link-dark" href='products'>Todas las categorías</a>
        <a class="link-dark" href='?query={"category":"primero"}'>Categoria 1</a>
        <a class="link-dark" href='?query={"category":"segundo"}'>Categoria 2</a>
        <a class="link-dark" href='?query={"category":"tercero"}'>Categoria 3</a>
        <a class="link-dark"href='?query={"category":"cuarto"}'>Categoria 4</a>
        <a class="link-dark" href='?query={"category":"quinto"}'>Categoria 5</a>
      
    </div>
    <div class="container text-center">
        <a class="link-dark" href='?query={"stock":{"$gt":"0"}}'>Productos con stock</a>
        <a class="link-dark" href='products'>Todos los productos</a>
    </div>
</div>
<div class="container text-center">
        {{#if hasPrevPage }}
            <a class="link-dark" href='{{firstLink}}'>Primera</a>
            <a class="link-dark" href='{{prevLink}}'>Anterior</a>
        {{else}}
            <a class="link-dark">Primera</a>
            <a class="link-dark">Anterior</a>
        {{/if}}
        {{#if hasNextPage }}
            <a class="link-dark"  href='{{nextLink}}'>Siguiente</a>
            <a class="link-dark" href='{{lastLink}}'>Ultima</a>
        {{else}}
            <a class="link-dark">Siguiente</a>
            <a class="link-dark">Ultima</a>
        {{/if}}
</div>
<div class="container text-center">
    <a class="link-dark"  href="?limit=5">ver 5</a>
    <a class="link-dark" href="?limit=10">ver 10</a>
    <a class="link-dark" href="?limit=20">ver 20</a>
    <a class="link-dark" href="?limit=50">ver 50</a>
</div>

<div class="container text-center">
<div class=" row mt-3 ">
{{#each payload}}
    <div class="col mt-3 pb-2">
        <div class="card">      
            <img class="card-img-top" src="{{this.thumbnails}}"  alt="foto producto" width="100">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Precio: ${{this.price}}</p>
            <p class="card-text">Categoría: {{this.category}}</p>
            <p class="card-text">Imagen: {{this.thumbnails}}</p>
            <p class="card-text">Status: {{this.status}}</p>
            <p class="card-text">Código: {{this.code}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <div class="mb-3 " >
                <input class="btn btn-primary" type="button" value="Agregar al carro">
                <a href="../products/{{this.id}}" class="btn btn-primary">Ver detalles</a>
            </div>
             </div>
    </div>
{{/each}}
</div>
</div>