<table class="table">
  <thead>
    <tr>
      <th scope="col">Img</th>
      <th scope="col">Producto</th>
      <th scope="col">Description</th>
      <th scope="col">Precio</th>
      <th scope="col">Codigo</th>
      <th scope="col">Categoria</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.docs}}
      <tr>
        <td>{{this.thumbnails}} </td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>${{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.category}}</td>
        <td>{{this.stock}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {{#if data.hasPrevPage}}{{else}}disabled{{/if}}">
        <a class="page-link" href="/products?page={{data.prevPage}}">Anterior</a>
    </li>
    {{#each front_pagination}}
        <li class="page-item {{#if this.active}}active{{/if}}">
            <a class="page-link" href="/products?page={{this.page}}">{{this.page}}</a>
        </li>
    {{/each}}
    <li class="page-item {{#if data.hasNextPage}}{{else}}disabled{{/if}}">
        <a class="page-link" href="/products?page={{data.nextPage}}">Siguiente</a>
        </li>
  </ul>
</nav>

<div id="moving"></div>